table {
  width: 100%;
}

.mat-header-cell {
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
}

.mat-table {
  overflow: auto;
  max-height: 650px;
  width: 100%;
}

.mat-table .mat-cell,
.mat-table .mat-header-cell {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  margin-left: 10px;
}

.mat-table .mat-cell:not(:nth-child(1)),
.mat-table .mat-header-cell:not(:nth-child(1)) {
  padding: 0 10px;
}

button {
  font-size: 16px;
  font-weight: 500;
}

mat-icon {
  cursor: pointer;
}
/* .badge {
  margin-top: 10px !important;
} */
