table {
  width: 100%;
  max-height: 300px;
}

.example-card {
  max-width: 400px;
}

.card-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

mat-card {
  background-color: #4262c2;
  color: white;
  margin: 10px;
}

/* mat-expansion-panel {
  background-color: #3855ad;
  color: white;
} */
mat-expansion-panel-header {
  width: 300px;
}

.mat-header-cell {
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
}

.mat-table {
  overflow: auto;
  max-height: 650px;
  width: 100%;
}

.mat-table .mat-cell,
.mat-table .mat-header-cell {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  margin-left: 10px;
}

.mat-table .mat-cell:not(:nth-child(1)),
.mat-table .mat-header-cell:not(:nth-child(1)) {
  padding: 0 10px;
}
