<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="Bay">
    <th mat-header-cell *matHeaderCellDef>Bay</th>
    <td mat-cell *matCellDef="let element">{{ element.Bay }}</td>
  </ng-container>
  <ng-container matColumnDef="cellName">
    <th mat-header-cell *matHeaderCellDef>Cell Name</th>
    <td mat-cell *matCellDef="let element">{{ element.cellName }}</td>
  </ng-container>

  <ng-container matColumnDef="checklistName">
    <th mat-header-cell *matHeaderCellDef>Checklist of the cells</th>
    <td mat-cell *matCellDef="let element">{{ element.checklistName }}</td>
  </ng-container>

  <ng-container matColumnDef="MacNo">
    <th mat-header-cell *matHeaderCellDef>Machine Number</th>
    <td mat-cell *matCellDef="let element">{{ element.MacNo }}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon style="color: green" (click)="onEdit(element)">edit</mat-icon
      >&nbsp;
      <mat-icon style="color: red" (click)="onDelete(element)"
        >delete_outline</mat-icon
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<button mat-raised-button color="primary" (click)="onAddCell()">Add</button>
